In [97]:
import pandas as pd

In [98]:
users_df=pd.read_csv('users.csv', index_col=False)

In [99]:
users_df

     user  pass
0    chin   123
1  safeer   234
2  kishan  5545

In [90]:
'chin' in list(users_df['user'])

True

In [105]:
str(users_df[users_df['user']=='chin']['pass'].values[0])

'123'