In [106]:
import pandas as pd

In [118]:
users_df=pd.read_csv('users.csv', index_col=False)

In [119]:
users_df

   user  pass
0  chin   123

In [120]:
'chin' in list(users_df['user'])

True

In [121]:
str(users_df[users_df['user']=='chin']['pass'].values[0])

'123'

In [122]:
users_df['files']=0

In [123]:
users_df['keys']=0

In [124]:
users_df

   user  pass  files  keys
0  chin   123      0     0

In [167]:
a=list(users_df[users_df['user']=='chin']['files'])

In [168]:
a

[0]

In [169]:
a.append('sample')

In [170]:
a

[0, 'sample']

In [178]:
users_df.loc[users_df['user']=='chin','files']=1

In [179]:
users_df

   user   pass files  keys new_file
0  chin  123.0     1   0.0    False
0   NaN    NaN   NaN   NaN        1
    NaN    NaN   NaN   NaN      NaN

In [166]:
users_df.loc[users_df['user']=='chin','files'].append(pd.Series(['samples']))

0          0
0    samples
dtype: object

In [165]:
users_df

   user   pass files  keys new_file
0  chin  123.0     0   0.0    False
0   NaN    NaN   NaN   NaN        0